*.iml
.gradle
/local.properties
.idea/
.DS_Store
.kotlin/
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.jks
*.keystore
google-services.json
app/release/
playstore/
firebase-debug.log
